# My Data Science Tools Notebook

This notebook shows my understanding of various tools and languages used in data science.

## Data Science Languages:
- Python  
- R  
- SQL  
- Julia  
- Scala

## Data Science Libraries:
- Pandas  
- NumPy  
- Scikit-learn  
- Matplotlib  
- TensorFlow

## Data Science Tools:

| Tool           | Category         |
|----------------|------------------|
| Jupyter Notebook | IDE/Notebook     |
| RStudio        | IDE              |
| Apache Spark   | Big Data         |
| TensorFlow     | Machine Learning |

Below are examples of simple arithmetic expressions using Python.

In [3]:
(5 * 4) + 2

22